.NavBar {
    background-color: #edf2f9;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.NavBarItem {
    display: flex;
    justify-content: flex-start;
}

.linkTo {
    padding: 4px 8px;
}

.linkTo strong{
    color: #5e6e82;
}
