.navBar {
  background-color: #edf2f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  row-gap: 4px;
  column-gap: 4px;
}

.navBarItem {
  display: flex;
  justify-content: flex-start;
}

.navBarItem:not(:first-child)::before {
  content: " / ";
  margin-left: 2px;
  margin-right: 2px;
}
.navBarItem strong {
  color: #5e6e82;
}

@media only screen and (min-width: 768px) {
  .navBar{
    row-gap: 8px;
  }
  .navBarItem:not(:first-child)::before {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media only screen and (min-width: 1158px) {
  .navBar {
    row-gap: 16px;
  }
  .navBarItem:not(:first-child)::before {
    margin-left: 8px;
    margin-right: 8px;
  }
}
