.AppDatePicker {
    margin-bottom: 8px;
    width: 100%;
}

.AppDatePicker .formField {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .AppDatePicker .formField {
        align-items: center;
        flex-direction: row;
    }
}
.AppDatePicker label {
    width: 64px;
    margin-bottom: 4px;
    padding: 0;
    display: block;
    font-weight: bold;
}

.AppDatePicker .datePickerField {
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 8px;
    flex: 1;
    outline: none;
    transition: all 300ms ease-in-out;
}

.AppDatePicker input {
    /* Прибрати зовнішню рамку */
    border: none !important;
    /* Прибрати тінь/рамку при фокусі */
    box-shadow: none !important;
    outline: none !important;
    padding: 0;
}

.AppDatePicker span {
    color: #f01f30;
    font-size: 12px;
    font-weight: bold;
}

.AppDatePicker.invalid label {
    color: #f01f30;
}

