.incomingCorrespondent {
    margin: 8px;
}
.correspondentHeader{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}
.correspondentBody{
    margin-bottom: 8px;
}
.correspondentNavigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.correspondentNavigation > div{
    display: flex;
    gap: 8px;
}
.correspondentNavigation > button {

}
.incomingOrgDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.incomingOrgDetails .datePickerField{
    width: 100%;
}

.formField{
    display: flex;
    width: 100%;

}
.formField > label{
    display: block;
    width: 64px;
}
.formField > input, .formField > div{
    flex-grow: 1;
}
