.incomingCorrespondent {
    margin: 8px;
}
.formField{
    display: flex;
    flex: 1;
}
.correspondentHeader{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}
.correspondentBody{
    margin-bottom: 8px;
}
.correspondentNavigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.correspondentNavigation > div{
    display: flex;
    gap: 4px;
}
@media only screen and (min-width: 1158px) {
    .correspondentNavigation > div{
        gap: 8px;
    }
}
.iterationButton > button {
    pointer-events: auto;
    opacity: 1;
}
.incomingOrgDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.incomingOrgDetails .datePickerField{
    width: 100%;
}
@media only screen and (min-width: 1158px) {
    .incomingOrgDetails {
        flex-wrap: nowrap;
    }
    .incomingOrgDetails .datePickerField{
        width: auto;
    }
}

.formField > label{
    display: block;
    width: 64px;
}
.formField > input, .formField > div{
    flex-grow: 1;
}
