.registrationForm {
    padding: 16px;
    background: #ffffff;
    border-radius: 8px;
}

.someButton {
    margin-right: 8px;
}
.submitButton {
    margin-right: 8px;
}

/*START OF MAIN CONTAINER FOR BLOCK*/
.registrationFormContainer {
    width: 100%;
    margin: 8px auto;

    /*border: 1px solid #ccc;*/
}

.navigationBarGroup {
    border: 1px solid #ccc;
    margin-bottom: 16px;
}

.regInfoGroup {
    display: flex; /* Выравнивает инпуты в ряд */
    flex-direction: column;
    gap: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 16px;
}
.regInfoGroup .regInfoGroupItem{
   flex: 1;
    font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
    .regInfoGroup {
        flex-direction: row;
    }
}

.bodyContentGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 16px;
}

/*mainContentGroup */
.bodyContentGroup .mainContentGroup {
}
@media only screen and (min-width: 1158px) {
    .bodyContentGroup .mainContentGroup {
        border: 1px solid #ccc;
    }
}
/*additionalContentGroup */
.bodyContentGroup .additionalContentGroup {
}
@media only screen and (min-width: 1158px) {

    .bodyContentGroup {
        flex-direction: row;
    }
    /*mainContentGroup */
    .bodyContentGroup .mainContentGroup {
        flex: 2;
    }
    /*additionalContentGroup */
    .bodyContentGroup .additionalContentGroup {
        flex: 1;
    }
    .mainContentAttributes {
        padding: 8px;
    }
}

.resolutionGroup {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}
/*END OF MAIN CONTAINER FOR BLOCK*/

.mainContentCorrespondents {
    border: 1px solid #ccc;
    margin-bottom: 16px;
}



.outgoingCorrespondent {
}

.additionalContentAttributes {
    margin-bottom: 16px;
}

.additionalContentFiles {
}

.fileHeader{
    display: flex;
    justify-content: space-between;
}
.navigationBar{
    margin-bottom: 8px;
}
.fileList {
    /* Основные стили */
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0; /* Более светлый фон */
    border: 1px solid #ccc; /* Светлая граница */

    /* Эффект вдавливания */
    box-shadow:
            inset 0 2px 4px rgba(0, 0, 0, 0.15), /* Внутренняя тень: темная, падает сверху/слева */
            inset 0 -2px 4px rgba(255, 255, 255, 0.5); /* Внутренняя тень: светлая, падает снизу/справа */

}

.fileItem {
    display: flex;
}
.fileName{
    flex-grow: 1;
}
/* FORM - FIELD */
.formField {
    display: flex;
}
.formField:not(:last-child){
    margin-bottom: 8px;
}
.formField > label{
    display: block;
    width: 64px;
}
.formField > input, .formField > div, .formField > select{
    flex-grow: 1;
}

@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1158px) {

}
