.registrationForm {
    padding: 16px;
    background: #ffffff;
    border-radius: 8px;
}

.someButton {
    margin-right: 8px;
}
.submitButton {
    margin-right: 8px;
}

/*START OF MAIN CONTAINER FOR BLOCK*/
.registrationFormContainer {
    width: 100%;
    margin: 8px auto;

    /*border: 1px solid #ccc;*/
}

.navigationBarGroup {
    border: 1px solid #ccc;
    margin-bottom: 16px;
}
.regInfoGroup {
    display: flex; /* Выравнивает инпуты в ряд */
    flex-wrap: wrap;
    gap: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 16px;
}
.regInfoGroup .formField{
    width: 100%;
}
.regInfoGroup .datePickerField{
    width: 100%;
    border: 1px solid #ccc;

}
@media only screen and (min-width: 768px) {
    .regInfoGroup .formField{
        width: auto;
        flex-basis: 0;
        flex-grow: 1;
    }
}
.bodyContentGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 16px;
}

/*mainContentGroup */
.bodyContentGroup .mainContentGroup {
    width: 100%;
}
@media only screen and (min-width: 1158px) {
    .bodyContentGroup .mainContentGroup {
        border: 1px solid #ccc;
    }
}
/*additionalContentGroup */
.bodyContentGroup .additionalContentGroup {
    width: 100%;
}
@media only screen and (min-width: 1158px) {

    .bodyContentGroup {
        flex-wrap: nowrap;
    }
    /*mainContentGroup */
    .bodyContentGroup .mainContentGroup {
        width: auto;
        flex: 2;
    }
    /*additionalContentGroup */
    .bodyContentGroup .additionalContentGroup {
        width: auto;
        flex: 1;
    }
    .mainContentAttributes {
        padding: 8px;
    }
}

.resolutionGroup {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}
/*END OF MAIN CONTAINER FOR BLOCK*/

.numberOfDocGroup {
    display: flex; /* Выравнивает инпуты в ряд */
    border: 1px solid #ccc; /* Общая граница для всего контейнера */

    overflow: hidden; /* Скрывает границы инпутов, если они выходят за пределы контейнера */
    width: fit-content; /* Ширина по содержимому */
    padding-left: 4px;
}

.singleInputForNumber {
    width: 40px; /* Ширина каждого инпута */
    height: 40px; /* Высота каждого инпута */
    text-align: center; /* Выравнивание текста по центру */
    border: none; /* Убираем индивидуальные границы */
    outline: none; /* Убираем синюю рамку при фокусе */
    font-size: 1.5rem; /* Размер шрифта */
    padding: 0;
    margin: 0;
}

.regDelimiterInput {
    width: 20px;
}

.regNumInput {
    width: 60px;
}
.orderNumInput{
    text-align: left;
    width: 60px;
}

/*.singleInputForNumber:not(:last-child) {*/
/*    border-right: 1px solid #ccc;*/
/*}*/
.datePickerField {
    font-size: 1.5rem;
    padding-left: 4px;
    width: 140px; /* Ширина каждого инпута */
    height: 40px; /* Высота каждого инпута */
}

.mainContentCorrespondents {
    border: 1px solid #ccc;
    margin-bottom: 16px;
}



.outgoingCorrespondent {
}

.additionalContentAttributes {
    margin-bottom: 16px;
}

.additionalContentFiles {
}

.fileHeader{
    display: flex;
    justify-content: space-between;
}
.navigationBar{
    margin-bottom: 8px;
}
.fileList {
    /* Основные стили */
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0; /* Более светлый фон */
    border: 1px solid #ccc; /* Светлая граница */

    /* Эффект вдавливания */
    box-shadow:
            inset 0 2px 4px rgba(0, 0, 0, 0.15), /* Внутренняя тень: темная, падает сверху/слева */
            inset 0 -2px 4px rgba(255, 255, 255, 0.5); /* Внутренняя тень: светлая, падает снизу/справа */

}

.fileItem {
    display: flex;
}
.fileName{
    flex-grow: 1;
}
/* FORM - FIELD */
.formField {
    display: flex;
}
.formField:not(:last-child){
    margin-bottom: 8px;
}
.formField > label{
    display: block;
    width: 64px;
}
.formField > input, .formField > div, .formField > select{
    flex-grow: 1;
}
.regInfoGroup .formField > label{
    font-size: large;
    display: block;
    width: 36px;
}
.regInfoGroup .formField {
    align-items: center;
    margin: 0;
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1158px) {

}
