.registrationForm {
    padding: 25px;
    background: #ffffff;
}

.lock{
    pointer-events: none; /* Запрещает все события мыши для этого div и его потомков */
    opacity: 0.5; /* Опционально: делает элементы полупрозрачными для визуального эффекта "disabled" */
    cursor: not-allowed; /* Опционально: меняет курсор на "нет" */
}

.regInfoGroup {
    display: flex;
    flex-direction: column;
    border: #dee2e6 solid 2px;
    border-radius: 8px;
    margin-bottom: 8px;
}
.numberOfDocGroup{
    display: flex;
}
.numberOfDocGroup .fInput{
    width: 64px;
}
.bodyContentGroup {
    display: flex;
    flex-direction: column;
    border: #dee2e6 solid 2px;
    border-radius: 8px;
    gap: 8px;
}

.correspondentGroup {
    display: flex;
    flex-direction: column;
    border: #dee2e6 solid 1px;
    border-radius: 8px;
    gap: 16px;
}
.selectCorrespondentType{
    display: flex;
    margin: 4px 0px;
}
.selectCorrespondentTypeSelector{
    flex-grow: 1;
}
.mainContentGroup{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.additionalAttributeGroup {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.additionalAttributeContent{
    border: #dee2e6 solid 1px;
    border-radius: 8px;
}
.filesContent{
    border: #dee2e6 solid 1px;
    border-radius: 8px;
}

.fContent {
    width: 100%;
    height: 80px;
}

.fNoteInput {
    width: 100%;
}

.registrationForm .error {
    color: red;
}
.submitBtn {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    -moz-outline-style: none;
}
.submitBtn {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}
.submitBtn:hover {
    box-shadow: 1px 1px 5px #555;
}

.submitBtn:active {
    box-shadow: 1px 1px 7px #222;
}

@media only screen and (min-width: 768px) {
    .regInfoGroup {
        flex-direction: row;
        margin-bottom: 8px;
    }

    .bodyContentGroup {
        flex-direction: row;
        gap: 8px;
    }
}

@media only screen and (min-width: 1440px) {
    .regInfoGroup {
        margin-bottom: 16px;
    }

    .bodyContentGroup {
        gap: 16px;
    }
}
