.header {
    background-color: #edf2f9; /*333*/
    color: black;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*height: 70px;*/
}

.nav {
    /*color: #008b8b;*/
    /*font-size: 24px;*/
    color: darkcyan;
    text-shadow: cyan 1px 1px;
    font-size: 2rem;
    font-weight: bold;
}

.auth {

}
@media only screen and (min-width: 768px) {
    .container {
        height: 72px;
    }
}

@media only screen and (min-width: 1158px) {
    .nav {
        font-size: 32px;
    }
    .container {

    }
}



