.form {
    padding-top: 20px;
}

button {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    -moz-outline-style: none;
}

.fInput {
    width: 100%;
    height: 40px;
    margin: 0;
    outline: 0;
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
    -moz-outline-style: none;
}
fInput:focus {
    border: 1px solid #3498db;
    color: lime;
}

p{
    padding-bottom: 10px;
}

button {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}
button:hover {
    box-shadow: 1px 1px 5px #555;
}

button:active {
    box-shadow: 1px 1px 7px #222;
}
.fieldsGroup{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
}
.error{
    font-style: italic;
    color: red;
}
